---
import "../styles/global.css";
import Starting from "../assets/Neww.png";
---




<div  id="Grow3">


<a href="./#type" class="inline-block m-4 px-6 py-3 bg-blue-600 text-white rounded-lg font-semibold shadow-md hover:bg-blue-700 transition duration-300" >
  Go Back
</a>
</div>


<!-- <a href="./#type">
  <img
    transition:name="Grow"
    class="relative rounded-xl shadow-2xl border-8 border-white"
    src={Starting.src}
    alt="Digital Marketing"
  />
</a> -->


<div class="flex flex-col md:flex-row items-center justify-center gap-6 my-12"    >
  <!-- Visual container -->
  <div  class="w-[70vw] h-auto relative transition-all duration-500">
    <a href="./#type">
      <img
      transition:name="Grow"
        id="escalateImage"
        src={Starting.src}
        alt="Digital Marketing"
        class="relative rounded-xl shadow-2xl border-8 border-white w-full h-auto"
      />
    </a>
  </div>

  <!-- Text beside media -->
  <div class="max-w-md text-center md:text-left text-gray-800">
    <p class="text-xl font-semibold">
      With the best customer service we will help you grow your business.
    </p>
  </div>
</div>
